/* Css Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  background-color: #fff;
}

.container.top {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 2px;
}

.container.bot {
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 50px;
}

/* Header */

div.banner {
  height: 70px;
  padding-top: 8px;
  padding-left: 20px;
  background-color: #fff;
  margin-bottom: 40px;
}

h1 {
  display: inline-block;
}

img {
  vertical-align: middle;
}

/* MAIN */

body {
  background-color: #f6f8fa;
}



a {
  height: 35px;
  margin: 10px 0px;
  padding: 0px 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  line-height: 35px;
}

.task {
  background-color: #44afed;
}

.section {
  background-color: transparent;
  border: 1px grey solid;
  color: grey;
}

/* Liste */
section {
  padding-top: 10px;
}

li {
  padding: 10px 0px 10px 0px;
  list-style: none;
}

span {
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  height: 25px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  color: #fff;
}

.editional {
  background-color: #44afed;
}

.goals {
  background-color: #9874e2;
}

.recruiting {
  background-color: #63bfa7;
}

.mobile {
  background-color: #eda32a;
}

.website {
  background-color: #d6639d;
}

.sales {
  background-color: #aac520;
}

.circle {
  margin-right: 10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 20px;
}

.circle.check {
  color: green;
  border: 1px green solid;
}

.circle.fals {
  color: red;
  border: 1px red solid;
}